@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
.main .sidebar {
  background-color: #ffffff09;
  width: 250px;
  height: 100%;
  overflow: auto;
  color: white; }
  .main .sidebar .header .brand {
    padding: 20px 10px;
    font-weight: bold; }
  .main .sidebar ul .active {
    background-color: #ffffff13; }
  .main .sidebar ul li.song {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .main .sidebar ul li.song:hover {
      background-color: #ffffff13; }
    .main .sidebar ul li.song .left {
      padding: 10px; }
      .main .sidebar ul li.song .left img {
        width: 35px;
        height: 35px;
        object-fit: cover; }
    .main .sidebar ul li.song .right {
      padding: 10px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .main .sidebar ul li.song .right p.title {
        font-size: 16px;
        color: #e6e6e6; }
      .main .sidebar ul li.song .right p.singer {
        font-size: 11px;
        color: gray;
        margin-top: 5px; }

.admin .centerDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .admin .centerDiv .welcome {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px; }
  .admin .centerDiv .namaste {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 40px; }
  .admin .centerDiv .warning {
    font-size: 14px;
    margin-bottom: 20px;
    color: red;
    display: none; }
  .admin .centerDiv .logindiv form {
    display: flex;
    flex-direction: column; }
    .admin .centerDiv .logindiv form input {
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-bottom: solid 1px #006d55;
      width: 200px; }
      .admin .centerDiv .logindiv form input:hover, .admin .centerDiv .logindiv form input:focus {
        border-bottom: solid 2px #006d55; }
    .admin .centerDiv .logindiv form .loginBtn {
      padding: 10px;
      border-radius: 50px;
      border: none;
      background-color: #17bb25;
      color: white;
      -webkit-box-shadow: 0px 9px 3px -6px rgba(0, 0, 0, 0.32);
      cursor: pointer;
      font-size: 14px; }

.adminDashboard .header {
  display: flex;
  justify-content: space-between;
  padding: 20px; }
  .adminDashboard .header .left .brand {
    font-weight: bold;
    color: #009B72;
    font-size: 20px; }
  .adminDashboard .header .right ul {
    list-style-type: none;
    display: flex; }
    .adminDashboard .header .right ul li {
      padding: 10px 20px;
      color: grayr;
      font-size: 14px;
      cursor: pointer; }
    .adminDashboard .header .right ul .active {
      color: black;
      font-weight: bold; }
    .adminDashboard .header .right ul .logout {
      color: red; }

* {
  outline: none;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif; }

html, body {
  width: 100%;
  height: 100%; }

.main {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #071022; }
