@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import "./pages/index.scss";

@import "./pages/admin/index.scss";
@import "./pages/admin/dashboard.scss";

*{
    outline: none;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #071022;
}