.adminDashboard{
    background-color: white;
    display: flex;
    .sidebar{
        width: 250px;
        height: 100%;
        overflow: auto;
        border-right: solid 1px rgba(128, 128, 128, 0.541);
        .brand{
            font-size: 20px;
            padding: 10px 20px;
            margin-top: 20px;
            color: #131112;
            font-weight: 500;
            i{
                margin-right: 5px;
                font-size: 18px;
            }
        }
        .menu{
            padding: 20px;
            .title{
                color: #60656F;
                letter-spacing: 1px;
            }
            ul{
                list-style-type: none;
                margin-top: 20px;
                li{
                    font-size: 18px;
                    color: #2c2a4aec;
                    padding: 10px 0px;
                    cursor: pointer;
                    i{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .content{
        height: 100%;
    }
}